<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.mindjet.jetdemo">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ImagePickerActivity"
            android:label="JetImage - Picker"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ImageSaverActivity"
            android:label="JetUtil - ImageSaver"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ImageLoaderActivity"
            android:label="JetImage - Loader"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewModelActivityDemo"
            android:label="JetGear - ViewModelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BannerActivity"
            android:label="JetWidget - Banner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DrawerLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".activity.NativeDrawerLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".activity.CoordinatorLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".activity.CoordinatorCollapseLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".activity.SwipeLayoutActivity"
            android:label="JetGear - SwipeLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CircularRevealActivity"
            android:label="Circular Reveal"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.TransitionActivity2" />
        <activity android:name=".activity.TransitionActivity1" />
        <activity
            android:name=".activity.DrawerCoordinatorLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity android:name=".activity.FollowerDetailActivity" />
        <activity
            android:name=".activity.ReaderDemoActivity"
            android:theme="@style/AppTheme.NoTitle" />
    </application>

</manifest>