<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.mindjet.jetdemo">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.ImagePickerActivity"
            android:label="JetImage - Picker"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.ImageSaverActivity"
            android:label="JetUtil - ImageSaver"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.ImageLoaderActivity"
            android:label="JetImage - Loader"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.DrawerLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle"/>
        <activity
            android:name=".view.activity.NativeDrawerLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle"/>
        <activity
            android:name=".view.activity.CollapseTabLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle"/>
        <activity
            android:name=".view.activity.CollapseToolbarLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle"/>
        <activity
            android:name=".view.activity.SwipeRecyclerDemoActivity"
            android:label="JetGear - SwipeLayout"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.CircularRevealActivity"
            android:label="Circular Reveal"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.DrawerCollapseTabLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle"/>
        <activity
            android:name=".view.activity.DrawableDyerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.BannerViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.CuteCheckBoxActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.CuteLoadingViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.CuteLoadingDialogActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.CornerLinearLayoutActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>